.sign-in-heading{
    margin-top: 5px;
    text-align: center;
    align-items: center;
    color: black;
    padding-bottom: 50px;
}

.sign-in-card{
    width: 30%;
    background-color: #b6dcb7; 
    margin: 0;
}

.si-card-body .card-footer{
    /* background-color: #93dd95;
    display: flex;
    justify-content: center;
    margin: 0% */
    padding: 20px;
}

.btn-block {
    display: block;
    width: 100%;
}

.label {
    margin: 0;
}

.space{
    line-height: 2rem;
}
h1{
    padding-top: 10%;
    text-align: center;
}
/* .note
{
    text-align: center;
    align-items: center;
    width: 25%;
    height: 80px;
    background: -webkit-linear-gradient(left, #80ff00, #11c541);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
} */

/* .form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
} */
.form-control{
    border-radius:1.5rem;
}
.form-group{
    padding: 2%;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: green;
    color: #fff;
    text-align: center;
}    
#header {
    font-family: Trebuchet MS, sa ns-serif;
    font-size: 32px;
    color: #333;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-right: 10px;
    padding-top: 35px;
    padding-left: 10px;
}

.container1 {
    height: 270px;
    width: 100%;
}

.sb-example-1 .search {
    width: 75%;
    position: relative;
    display: flex;
    padding-top: 15px;
    padding-left: 340px;
}

.sb-example-1 .searchTerm {
    width: 100%;
    border: 3px solid rgb(63, 155, 112);
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: rgb(63, 155, 112);
}

.sb-example-1 .searchTerm:focus {
    color: green;
}

.sb-example-1 .searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid rgb(63, 155, 112);
    background: rgb(145, 228, 189);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.sb-example-1 .searchButton i {
    color: green;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.item-list {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
}

.td, th {
    border: 1px solid;
    padding: 7px;
}

.item-list tr:nth-child(even) {
    background-color: rgb(232, 255, 235);
}

.col-sm {
    padding-top: 25px;


}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;

}

#choice1 {
    width: 200px;

}

.button1:hover {
    background-color: rgb(63, 155, 112);
    color: white;
}

.cutom-card {
    padding-right: 0.15625em; /* Adjust the padding as needed */
    /* width: 18.75%;  */
    height: 20%; /* Adjust the height as needed */
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 4em;
    /* padding-top: 0.09375em; */
    font-size: 1.0rem;
}

/* .card-image-specs{
    width: 270px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.image-container {
    width: 100%;
    height: 100%;
}

.two-line-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limit to two lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card-header img {
    height: 2.625em;
    width: auto;
    padding-top: 0;
}

.top-heading{
    text-align: center;
    font-size: 5.3125em;
    color: #4CAF50;
}

.price{
    font-size: 1.325rem;
}

/*.card-body {
    width: 75%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .card-text {
    font-size: 1.3125em; 
    text-align: center;
} */ 

